<% if signed_in? %>
    <h2> You are alread signed in as <%= current_user.email %>. </h2>
    <br>
    To switch accounts <br> 
    <%= link_to 'Sign out', signout_path, method: "delete", :class=>"btn btn-primary btn-lg" %>
<% else %>
    <h3>Sign In </h3>

    <%= form_for(:sessions, url: sessions_path) do |f|  %>

        <div>
          Email: <%= f.text_field :email, :class=>"form-control" %>
        </div>
        <br>
        <div>
          Password: <%= f.password_field :password, :class=>"form-control" %>
        </div>
        <br>
        <%= f.submit "Sign in", :class=>"btn btn-primary" %>

        <br> 
        
    <% end %>
<% end %>