<script>
function searchForFriends() {
    $('#search_box').focus();
    var friends = <%= raw @my_friends.to_json %>;

    var query = $("#search_box").val();

    var options = {
      keys: ['name', 'location', 'color_status', 'id']
    };

    var f = new Fuse(friends, options);
    var r = f.search(query);

    var result = $("#therowsinthebody");

    var buildings = <%= raw buildings.inspect %>;
    var inbuildings = <%= raw inbuildings.inspect %>;
    var statusNames = <%= raw statusNames.inspect %>;
    

    <% friendNoLocation = "result.append('<div class=\"row\" id=\"friendId'+this.id+'\"><div class=\"card\">' + this.name + '<span class=\"right\"> Offline </span></div><span class=\"deletefriend\" onclick=\"deleteFriend('+this.id+', ' + this.name + ');\">&#10006;</span></div>');" %>

    if (friends.length != 0 && query.length == 0) {
        result.empty();
        if (!$haslocation) {
            $.each(friends, function() {
                if (this.latitude != null || this.longitude != null) {
                    result.append('<div class="row" id="friendId'+this.id+'"><a href="/?lat=' + this.latitude + '&lng='+this.latitude+'"><div class="card"><img src="assets/wave.png" onclick="wave(\'<%= current_user.name %>\', \'' + this.name + '\', ' + this.id + ');"> ' + this.name + '<span class="right">' + statusNames[this.color_status] + '&nbsp;' + inbuildings[buildings.indexOf(this.location)] + '</span></div></a><span class="deletefriend" onclick="deleteFriend('+this.id+', ' + this.name + ');">&#10006;</span></div>');
                } else {
                    <%= raw friendNoLocation %>
                }
            });     
        } else {
            $.each(friends, function() {
                if (this.latitude != null || this.longitude != null) {
                    result.append('<div class="row" id="friendId'+this.id+'"><a href="/?lat=' + this.latitude + '&lng='+this.latitude+'"><div class="card"><img src="assets/wave.png" onclick="wave(\'<%= current_user.name %>\', \'' + this.name + '\', ' + this.id + ');"> ' + this.name + '<span class="right">' + statusNames[this.color_status] + '&nbsp;' + inbuildings[buildings.indexOf(this.location)] + '&nbsp;&nbsp;&nbsp' + getDistanceFromLatLonInMi(this.latitude, this.longitude, $pos.coords.latitude, $pos.coords.longitude) + '</span></div></a><span class="deletefriend" onclick="deleteFriend('+this.id+', ' + this.name + ');">&#10006;</span></div>');
                } else {
                    <%= raw friendNoLocation %>
                }
            });     
        }
    } else if (friends.length != 0 && r.length != 0) {
        result.empty();
        if (!$haslocation) {
            $.each(r, function() {
                if (this.latitude != null || this.longitude != null) {
                    result.append('<div class="row" id="friendId'+this.id+'"><a href="/?lat=' + this.latitude + '&lng='+this.latitude+'"><div class="card">' + this.name + '<span class="right">' + statusNames[this.color_status] + '&nbsp;' + inbuildings[buildings.indexOf(this.location)] + '</span></div></a><span class="deletefriend" onclick="deleteFriend('+this.id+', ' + this.name + ');">&#10006;</span></div>');
                } else {
                    <%= raw friendNoLocation %>
                }
            });     
        } else {
            $.each(r, function() {
                if (this.latitude != null || this.longitude != null) {
                    result.append('<div class="row" id="friendId'+this.id+'"><a href="/?lat=' + this.latitude + '&lng='+this.latitude+'"><div class="card"><img src="assets/wave.png" onclick="wave(\'<%= current_user.name %>\', \'' + this.name + '\', ' + this.id + ');"> ' + this.name + '<span class="right">' + statusNames[this.color_status] + '&nbsp;' + inbuildings[buildings.indexOf(this.location)] + '&nbsp;&nbsp;&nbsp;' + getDistanceFromLatLonInMi(this.latitude, this.longitude, $pos.coords.latitude, $pos.coords.longitude) + '</span></div></a><span class="deletefriend" onclick="deleteFriend('+this.id+', ' + this.name + ');">&#10006;</span></div>');
                } else {
                    <%= raw friendNoLocation %>
                }
            });     
        }
    } else if (friends.length != 0 && r.length == 0) {
        result.empty();
    } else {
        result.empty();
        result.html('<div class="row card">Get started by adding your first friend!</div>');
    }
}
</script>

<div class="form-group" id="friendsearchform">
    <%= text_field_tag :search_box, nil, class: "form-control", placeholder: "Search for your current friends", onKeyUp:"searchForFriends();"  %>
</div>