<div class="container" id="friends">

    

    <% if current_user.nil? %>
    <% else %>

        <% cuid = current_user.id %>

        <% 
        f_ids = []
        current_user.friends.each do |f|
          f_ids << f.user_id
        end
        @my_friends = User.find(f_ids)
        %>

        <script>
            function roundToTwo(num) {
                return +(Math.round(num + "e+2")  + "e-2");
            }
            function success(position) {
                $("#therowsinthebody").html('<% @my_friends.each do |f| %><%= link_to (raw "<div class=\"row card\"><div class=\"col-md-12 listrow\">" + f[:name].to_s + "<span class=\"right\">"+f[:location].to_s+"&nbsp;&nbsp;&nbsp;"+"\'+getDistanceFromLatLonInMi(" + f[:latitude].to_s + ", " + f[:longitude].to_s + ", position.coords.latitude, position.coords.longitude)+\'</span></div></div>"), ("/?lat="+f[:latitude].to_s+"&lng="+f[:longitude].to_s) %><% end %><% if @my_friends.length == 0 %><%= raw "<div class=\"card\">You have no friends. Add a new friend.</div>" %><% end %>');
            }

            function getDistanceFromLatLonInMi(lat1,lon1,lat2,lon2) {
                var R = 6371; // Radius of the earth in km
                var dLat = deg2rad(lat2-lat1);  // deg2rad below
                var dLon = deg2rad(lon2-lon1);
                var a =
                                Math.sin(dLat/2) * Math.sin(dLat/2) +
                                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                                Math.sin(dLon/2) * Math.sin(dLon/2)
                        ;
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
                var d = R * c; // Distance in km
                var dInMi = d*0.621371; // American units
                return (dInMi < 0.1 ? "<0.1 mi" : roundToTwo(dInMi).toString() + " mi");
            }

            function deg2rad(deg) {
                return deg * (Math.PI/180)
            }

            function error(msg) {
                if ($('#status').length > 0) { //if #status exists; change #status if on the map page
                    var s = $('#status');
                    s.html(typeof msg == 'string' ? msg : "failed");
                    s.addClass('fail');    
                }
                $("#therowsinthebody").html('<% @my_friends.each do |f| %><%= link_to (raw "<div class=\"row card\"><div class=\"col-md-12 listrow\">" + f[:name].to_s + "<span class=\"right\">"+f[:location].to_s+"</span></div></div>"), ("/?lat="+f[:latitude].to_s+"&lng="+f[:longitude].to_s) %><% end %><% if @my_friends.length == 0 %><%= raw "<div class=\"card\">You have no friends. Add a new friend.</div>" %><% end %>');
            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error);
            } else {
                error('not supported');
            }
        </script>

        <%= render 'friends/friend_search' %>


        <div id="therowsinthebody">
            <% @my_friends.each do |f| %><%= link_to (raw "<div class=\"row card\"><div class=\"col-md-12 listrow\">" + f[:name].to_s + "<span class=\"right\">"+f[:location].to_s+"</span></div></div>"), ("/?lat="+f[:latitude].to_s+"&lng="+f[:longitude].to_s) %><% end %><% if @my_friends.length == 0 %><%= raw "<div class=\"card\">You have no friends. Add a new friend.</div>" %><% end %>
        </div>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry&sensor=false"></script>
    <% end %>


    <!-- Button trigger modal -->
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Add New Friend
    </button>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Friend</h4>
      </div>
      <div>
        <%= form_tag @friend, method: "get" do %>
        <div class="form-group">
            <%= text_field_tag :search, nil, class: "form-control", placeholder: "Search for your new friend"  %>
            <%= submit_tag "Search", class: "btn btn-success"%>
        </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>