<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry&sensor=false"></script>

<% statusNames = ["In Class", "Working", "Studying", "Eating", "Partying", "Relaxing", "In Class", "Working", "Studying", "Eating", "Partying", "In Class", "Working", ""] %>

<div class="container" id="friends">


    <% cuid = current_user.id %>

    <% @my_friends = show %>

    <script>
        var $haslocation = false;
        var $pos = null;
        <% if @pending_friends.size > 0 %>var pendingReq = <%= @pending_friends.size %>;<% end %>

        function roundToTwo(num) {
            return +(Math.round(num + "e+2")  + "e-2");
        }
        function success(position) {
            $haslocation = true;
            $pos = position;
            $("#therowsinthebody").html('<% @my_friends.each do |f| %><div class="row" id="friendId<%= f.id.to_s %>"><% if f[:longitude].to_s != "" || f[:latitude].to_s != "" %><%= raw "<div class=\"card\"><i class=\"fa fa-bullhorn\" onclick=\"shout(\\'" + current_user.name + "\\', \\'" + f[:name] + "\\', " + f[:id].to_s + ");\"></i> " %><%= link_to (raw f[:name].to_s + "<span class=\"right\">" + statusNames[(f[:color_status]).to_i].to_s + "&nbsp;&nbsp;" + f[:location].to_s + "&nbsp;&nbsp;&nbsp;\'+getDistanceFromLatLonInMi(" + f[:latitude].to_s + ", " + f[:longitude].to_s + ", position.coords.latitude, position.coords.longitude)+\'</span>"), ("/?lat="+f[:latitude].to_s+"&lng="+f[:longitude].to_s) %></div><% else %><%= raw "<div class=\"card\">" + f[:name].to_s + "<span class=\"right\">" + statusNames[(f[:color_status]).to_i].to_s + "&nbsp;&nbsp;" + f[:location].to_s + "&nbsp;&nbsp;&nbsp;</span></div>" %><% end %><span class="deletefriend" onclick="deleteFriend(<%= f[:id] %>, \'<%= f[:name] %>\');">&#10006;</span></div><% end %><% if @my_friends.length == 0 %><%= raw "<div class=\"row card\">Get started by adding your first friend!</div>" %><% end %>');
        }

        function deleteFriend(friendId, friendName) {
            if (confirm("Are you sure you want to unfriend " + friendName + "?")) {
                $.ajax({
                    type: 'POST',  
                    url: '/friends/destroy', 
                    data: { fid: friendId },
                    success: function(response) {
                        $("#friendId"+friendId).addClass('animated bounceOutRight');
                        $("#friendId"+friendId).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                            $("#friendId"+friendId).remove();
                            var rowbody = $("#therowsinthebody");
                            if ($.trim($(rowbody).html()).length == 0) {
                                rowbody.empty();
                                rowbody.html('<div class="row card">Get started by adding your first friend!</div>');
                                if (pendingReq > 0) {
                                    rowbody.append("<br />");
                                }
                            }
                        });
                    }
                });
            }
        }

        function deleteRequest(friendId, friendName) {
            if (confirm("Are you sure you want to cancel your friend request to " + friendName + "?")) {
                $.ajax({
                    type: 'POST',  
                    url: '/friends/destroy', 
                    data: { fid: friendId },
                    success: function(response) {
                        <% if @pending_friends.length-1 == 0 %>
                            $("#requestId"+friendId).addClass('animated bounceOutRight');
                            $("#requestId"+friendId).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                                $("#pending").remove(); 
                            });
                        <% else %>
                            $("#requestId"+friendId).addClass('animated bounceOutRight');
                            $("#requestId"+friendId).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                                $("#requestId"+friendId).remove();
                                pendingReq--;
                                if (pendingReq == 0) {
                                    $("#pending").remove();        
                                }
                            });
                        <% end %>
                    }
                });
            }
        }

        function getDistanceFromLatLonInMi(lat1,lon1,lat2,lon2) {
            var R = 6371; // Radius of the earth in km
            var dLat = deg2rad(lat2-lat1);  // deg2rad below
            var dLon = deg2rad(lon2-lon1);
            var a =
                            Math.sin(dLat/2) * Math.sin(dLat/2) +
                            Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                            Math.sin(dLon/2) * Math.sin(dLon/2)
                    ;
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            var d = R * c; // Distance in km
            var dInMi = d*0.621371; // American units
            return (dInMi < 0.1 ? "<0.1 mi" : roundToTwo(dInMi).toString() + " mi");
        }

        function deg2rad(deg) {
            return deg * (Math.PI/180)
        }

        function error(msg) {
            if ($('#status').length > 0) { //if #status exists; change #status if on the map page
                var s = $('#status');
                s.html(typeof msg == 'string' ? msg : "failed");
                s.addClass('fail');    
            }
            $("#therowsinthebody").html('<% @my_friends.each do |f| %><div class="row" id="friendId<%= f.id.to_s %>"><%= raw "<div class=\"card\"><i class=\"fa fa-bullhorn\" onclick=\"shout(\\'" + current_user.name + "\\', \\'" + f[:name] + "\\', " + f[:id].to_s + ");\"></i> " %><%= link_to (raw f[:name].to_s + "<span class=\"right\">" + statusNames[(f[:color_status]).to_i].to_s + "&nbsp;&nbsp;" + f[:location].to_s + "&nbsp;&nbsp;&nbsp;</span>"), ("/?lat="+f[:latitude].to_s+"&lng="+f[:longitude].to_s) %></div><span class="deletefriend" onclick="deleteFriend(<%= f[:id] %>, \'<%= f[:name] %>\');">&#10006;</span></div><% end %><% if @my_friends.length == 0 %><%= raw "<div class=\"row card\">Get started by adding your first friend!</div>" %><% end %>');
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            error('not supported');
        }

        channel.bind('send-shout', function(data) {
            noty({
              layout: 'bottom',
              type: 'alert',
              text: data.cname + 'sent you a shoutout',
              dismissQueue: true, 
              animation: {
                open: {height: 'toggle'},
                close: {height: 'toggle'},
                easing: 'swing',
                speed: 500 
                },
              timeout: 2000,
              maxVisible: 1,
              killer: true
            });
        });


        function shout(cname, fname, fid) {
            $.ajax({  
                type: 'POST',  
                url: '/friends/shoutout', 
                data: { friend_id: fid },
                success: function() {
                    noty({
                      layout: 'bottom',
                      type: 'alert',
                      text: 'Shoutout sent to ' + fname,
                      dismissQueue: true, 
                      animation: {
                        open: {height: 'toggle'},
                        close: {height: 'toggle'},
                        easing: 'swing',
                        speed: 500 
                        },
                      timeout: 2000,
                      maxVisible: 1,
                      killer: true
                    });
                }
            });
            
        }
    </script>

    

    <div class="container">
        <%= render 'friends/friend_search' %>
        <div id="therowsinthebody">
            <% @my_friends.each do |f| %>
            <div class="row" id="friendId<%= f.id.to_s %>">
                <% if f[:longitude].to_s != "" || f[:latitude].to_s != "" %>
                 <%= raw '<div class="card"><i class="fa fa-bullhorn" onclick="shout(\'' + current_user.name + '\', \'' + f[:name] + '\', ' + f[:id].to_s + ');"></i>' %>
                <%= link_to (raw f[:name].to_s + "<span class=\"right\">" + statusNames[(f[:color_status]).to_i].to_s + "&nbsp;&nbsp;" + f[:location].to_s + "&nbsp;&nbsp;&nbsp;</span>"), ("/?lat="+f[:latitude].to_s+"&lng="+f[:longitude].to_s) %>
                </div>
                <% else %>
                    <%= raw "<div class=\"card\">" + f[:name].to_s + "</div>" %>
                <% end %>
                <span class="deletefriend" onclick="deleteFriend(<%= f[:id] %>, '<%= f[:name] %>');">&#10006;</span>
            </div>
            <% end %>
            <% if @my_friends.length == 0 %>
                <%= raw "<div class=\"row card\">Get started by adding your first friend!</div>" %>
            <% end %>
        </div>
    
    <% if @pending_friends.size > 0 %>
        <div id="pending">
            <br />
            Pending friends:
            <% @pending_friends.each do |pf| %>
                <div class="row" id="requestId<%= pf[:id] %>"><div class="card"><%= pf[:name] %></div><span class="deleterequest" onclick="deleteRequest(<%= pf[:id] %>, '<%= pf[:name] %>');">&#10006;</span></div>
            <% end %>
        </div>
    <% end %>

    <!--for changing visibility status -->
    <div>
    Visibility to friends
    <input id="visibilityCheckbox" type="checkbox" data-size="small" name="VisibilityToggle" value="<%= current_user.visible.to_s %>" data-off-color="default" onfocus="changeVisibility(<%=(! current_user.visible).to_s %>);">
    <script>$("[name='VisibilityToggle']").bootstrapSwitch('state', <%= (current_user.visible).to_s %>, false);</script>
    </input>
    </div>

    <script>
    function changeVisibility(vis) {
    $.ajax({  
        type: 'POST',  
        url: '/users/changeVisibility', 
        data: { visibility: vis },
        success: function(response) {
        }
    });
}
</script>
<!-- Button trigger modal -->
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="addnewfriendbutton">
      Add New Friend
    </button>
</div>
    
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Friend</h4>
      </div>

      <div id="modalpadding">
        <%= form_tag search_friends_path, method: "get", remote: true, class: "form", role: "form" do %>
        <div class="form-group">
            <%= text_field_tag :search, nil, class: "form-control", placeholder: "Search for your new friend"  %>
            <%= submit_tag "Search", id:"newfriendsearch", class: "btn btn-success" %>
        </div>
        <% end %>
        <div id = "new-friend-result">
            <%= render(partial: 'new_friend_result') %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
