<center>
	<h1>Your Groups</h1>
</center>

<script>
function changeGroupVisibility(groupId) {
	$.ajax({  
	    type: 'POST',  
	    url: '/groups/changeVisibility', 
	    data: { group_id: groupId },
	    success: function(response) {
	    }
	});
}
</script>

<% @groups.each do |group| %>
<div class="card">
	<%= group.name %>
	<span class="right">
		<input id="check<%= group.name %>" type="checkbox" data-size="small" name="<%= "group" + group.id.to_s + "VisibilityToggle" %>" value="check<%= group.name %>" data-off-color="default" onfocus="changeGroupVisibility(<%= group.id.to_s %>);">
	     <script>$("[name='<%= "group" + group.id.to_s + "VisibilityToggle" %>']").bootstrapSwitch('state', <%= group.visible.to_s %>, false);</script>
	    </input>
		<%= link_to 'Edit', group, class: 'btn btn-default btn-info' %> 
	</span>
</div> 
<% end %>

<center>
	<% if(@groups.length == 0) %>
	<div class="card"> You Haven't Created Any Groups </div>
	<% end %>
</center>

<br>

<center>
	<button class="btn btn-lg btn-primary" data-toggle="modal" data-target=".bs-modal-lg">New Group</button>


	<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<%= form_for(@group = Group.new) do |f| %>
				<div class="modal-header">
					<h2 class="center">Add a New Group</h1>
				</div>
				<div class="modal-body">
					<% if @group.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
						<ul>
							<% @group.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
					Group Name <%= f.text_field :name %><br /><br />
					
				<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>

				</div>
				<% end %>
			</div>
		</div>
	</div>
</center>