<script>
function changeGroupVisibility(groupId) {
  $.ajax({  
      type: 'POST',  
      url: '/groups/changeVisibility', 
      data: { group_id: groupId },
      success: function(response) {
      }
  });
}

function searchForFriends() {
  $('#search_box').focus();
  var friends = <%= raw @my_friends.to_json %>;

  var query = $("#search_box").val();

  var options = {
    keys: ['name']
  };

  var f = new Fuse(friends, options);
  var r = f.search(query);

  var result = $("#friendsdiv");

  if (friends.length != 0 && query.length == 0) {
    result.empty();
    $.each(friends, function() {
         result.append('<div class="innercard card">' + this.name + '<span class="right"><%= form_tag group_members_path, method: "post" %><%= hidden_field_tag  'group_id', @group.id %><input id="friend_id" name="friend_id" type="hidden" value="' + this.id + '"><%= submit_tag "Add", class: "btn btn-primary"%></span></div>');
    });
  } else if (friends.length != 0 && r.length != 0) {
    result.empty();
    $.each(r, function() {
         result.append('<div class="innercard card">' + this.name + '<span class="right"><%= form_tag group_members_path, method: "post" %><%= hidden_field_tag  'group_id', @group.id %><input id="friend_id" name="friend_id" type="hidden" value="' + this.id + '"><%= submit_tag "Add", class: "btn btn-primary"%></span></div>');
    });
  } else if (friends.length != 0 && r.length == 0) {
    result.empty();
  } else {
    result.empty();
    result.html('<div class="row card">Get started by adding your first friend!</div>');
  }  
}
</script>
<div class="container">
  <div class="card">
    <div>
      <h3 class="groupname"><%= @group.name %></h3>
      <span class="right">  
      	<input id="check<%= @group.name %>" type="checkbox" data-size="small" name="<%= "group" + @group.id.to_s + "VisibilityToggle" %>" value="check<%= @group.name %>" data-off-color="default" onfocus="changeGroupVisibility(<%= @group.id.to_s %>);">
        <script>$("[name='<%= "group" + @group.id.to_s + "VisibilityToggle" %>']").bootstrapSwitch('state', <%= @group.visible.to_s %>, false);</script>
        </input>
        <%= link_to 'Delete', @group, confirm: 'Are you sure you want to delete ' + @group.name + '?', :method => :delete, class: 'btn btn-default btn-danger' %>
      </span>
  </div>

  <% @members.each do |memb| %>
    <div class='innercard card'>
      <%= memb.name %>
      <span class="pending_friend">
        <% friendRow = GroupMember.where("user_id = ? AND friend_id = ?", current_user.id, memb.id).first %>
      </span>
      <% g_mem_id = @mems.where(friend_id: memb.id.to_i).first.id %>
      <span class="right">  <%= link_to 'Remove', group_members_path+"?gid="+@group.id.to_s+"&mid="+g_mem_id.to_s,
        confirm: 'Are you sure you want to remove '+memb.name+' from '+@group.name+'?', :method => :delete, class: 'btn btn-default btn-danger' %> </span>
    </div>
  <% end %>
</div>
<div class="card">
    <h4>Add a friend to <%= @group.name %></h4>
      <div class="form-group">
          <%= text_field_tag :search, nil, class: "form-control", id: "search_box", :placeholder=> "Search for a friend to add to " + @group.name, onKeyUp:"searchForFriends();"  %>
      </div>
    <% unless @my_friends.nil? %>
      <div id="friendsdiv">
        <% @my_friends.each do |member| %>
          <% if member.id != current_user.id %>
            <div class="innercard card">
              <%= member.name %>
              <span class="right">
              <%= form_tag group_members_path, method: "post" %>
              <%= hidden_field_tag  'group_id', @group.id %>
              <%= hidden_field_tag  'friend_id', member.id %>
              <%= submit_tag "Add", class: "btn btn-primary"%>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>