<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, :autofocus => true, :input_html => { :id => "accountupdatename"} %>
    <!--<br />
    <%= f.input :about, :required => true %>-->
  </div>
  <div class="form-actions" id="accountupdatesubmit">
    <%= f.button :submit, "Update", :class => "btn btn-default" %>
  </div>
<% end %>

<div>
<br /><strong>Connect Account</strong><br />



<% ['facebook', 'twitter', 'google_oauth2'].each do |provider| %>

  <% if current_user.authorizations.pluck(:provider).include?(provider.to_s) %>
    <%= provider.to_s.titleize %> Connected
  <% else %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path('user', provider), :class => "btn btn-facebook" %>
  <% end %>
<br/>
<% end %>

</div>
