<div class="container">
	<p id="notice"><%= notice %></p>
	</br>
	<p>
	  <strong>Name:</strong>
	  <%= @user.name %>
	</p>


	<p>
	Visibility to friends
	<input id="visibilityCheckbox" type="checkbox" data-size="small" name="VisibilityToggle" value="<%= current_user.visible.to_s %>" data-off-color="default" onfocus="changeVisibility(<%=(! current_user.visible).to_s %>);">
	<script>$("[name='VisibilityToggle']").bootstrapSwitch('state', <%= (current_user.visible).to_s %>, false);</script>
	</input>
	</p>


	<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info" %>
</div>

<script>
function changeVisibility(vis) {
	$.ajax({  
	    type: 'POST',  
	    url: '/users/changeVisibility', 
	    data: { visibility: vis },
	    success: function(response) {
	    }
	});
}
</script>