<div class="container">

  <div class="card"> Hello! Welcome to What's Going On! Please choose a service to log in with. </div>
<!-- Button trigger modal --><!-- 
<div class="center-block btn btn-default" data-toggle="modal" data-target="#myModal">
  Sign In with Email
</div> -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  </div>

		  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
		  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
		<% end -%>

		  <div class="form-actions">
		    
		  </div>
		
      </div>
      <div class="modal-footer">
        
        <%= f.button :submit, "Sign in", :class => "btn btn-primary" %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</br>
<!-- <div class="btn btn-default center-block" data-toggle="modal" data-target="#myModal2">
  Sign Up
</div> -->

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">Sign Up</h4>
      </div>
        <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          
          </br>
        </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit, "Sign up", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="social-buttons">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<br>

<div class="card"> <b>About Us </b> <br></br> We are the next generation of social networking. We firmly believe that people should be social in person. What's Going On allows people to find their friends on a moments notice. There are times when people want something to do but can’t ﬁnd an activity. If they check the internet they will ﬁnd a lot of suggestions for events at certain times but never anything going on in the moment. Social media sites provide information on people’s activities and events, but typically either in the past or planned for the future. As a result, for people who want something to do spontaneously there is no way to know what friends are up to unless they ask them directly. But the friends who are engaged in fun activities are typically too busy to report on them, even if they would like others to stop by and join the activity. <br></br> What’s Going On solves this problem. What’s Going On uses Wi-Fi locating to broadcast the locations of the users without the users having to even open the app. This information is placed on a map so that a user can look and see where all his/her friends are located. The users can even provide info about what they are doing in a location which will be visible to all their friends as long as the user is in the location. As a result, a collection of real-time information on the activities of a user’s friends are available to them so that they can easily ﬁnd something fun to do at any given time. As for any concerns about privacy, the app provides a variety of easily activated privacy options that limits how much the app broadcasts at any given time. What’s Going On is a safe way for real-time information to be spread amongst friends so no one ever has to ask himself/herself <i> “What’s Going On?” </i></div>
