
<% statusNames = ["In Class", "Working", "Studying", "Eating", "Partying", "Relaxing"] %>
<script>
  function forwardToHome() {
    window.location = "<%= root_url %>";
  }
</script>

<%# navigation styled for Bootstrap 3.0 %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "What's Going On?", root_url, class: 'navbar-brand', onclick: "forwardToHome();" %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "Friends", friends_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <li><%= link_to "My Account", User.find(current_user.id) %></li>


       <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Status
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"> 

                <%= raw '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + "No Status" +  '<span class="right">' + (image_tag image_path("marker12.png"), onclick: 'setStatus(12)', class:"statuspadding") + '</span></a></li>' %>

                <br>

                <li role="presentation" class="divider"></li>

                <li role="presentation" class="dropdown-header"><span class="right"><span id="botherme">Bother Me?</span><span id="bothermeyes">Yes</span><span id="bothermeno">No</span></span></li>

                <!-- <li role="presentation" class="divider"></li> -->

                <% for i in 0...statusNames.length %> 
                    <%= raw '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + statusNames[i] + '<span class="right">' + (image_tag asset_path('marker' + i.to_s + '.png'), onclick:"setStatus(" + i.to_s + ")", class:"statuspadding") + (image_tag asset_path('marker' + (i+statusNames.length).to_s + '.png'), onclick:"setStatus(" + (i+statusNames.length).to_s + ")") + '</span></a></li>' %>
                <% end %>
                
                <script>
                function setStatus(i){
                  $.ajax({  
                      type: 'POST',  
                      url: '/users/color_status', 
                      data: { color_status: i },
                      success: function(response) {
                         if (location.pathname == "/") {
                            window.location.reload();
                         }
                      }

                  });
                }
                </script>


              </ul>
        </li>
        <% else %>
        <% end %>
    </ul>
<script>

  function acceptFriend(friendId) {
    $.ajax({  
        type: 'POST',  
        url: '/friends/accept', 
        data: { friend_id: friendId },
        success: function() {
        }
    });
    location.reload(true);
  }

  function rejectFriend(friendId) {
    $.ajax({  
        type: 'POST',  
        url: '/friends/reject', 
        data: { friend_id: friendId },
        success: function() {
          location.reload(true);
        }
    });
    location.reload(true);
  }

  <% if user_signed_in? %>
  channel.bind('my-event', function(data) {
    $("#notification-list").append('<li class="user-notification-block"><p>' + data.name + ' wants to add you.<div class="btn-group request-buttons-left-padding"><button type="button" class="btn btn-success" onclick="acceptFriend(' + data.fid + ');">Accept</button><button type="button" class="btn btn-danger" onclick="rejectFriend(' + data.fid + ');">Reject</button></div></p></li>');
    if (!$('#elemId').length) {
      <% notifs = Friend.notifications current_user.id %>
      $('#notificationstitle').html('Notifications <span id="notification-count">(<%= (notifs.size+1).to_s %>)</span><b class="caret"></b>');
    } else {
      $("#notification-count").html("(<%= (notifs.size+1).to_s %>)");  
    }
    $("#notificationdropdown").addClass('animated shake');
    $("#notificationdropdown").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
      $("#notificationdropdown").removeClass('animated shake');
    });
    noty({
      layout: 'bottom',
      type: 'alert',
      text: data.name + ' sent you a friend request.',
      dismissQueue: true, 
      animation: {
        open: {height: 'toggle'},
        close: {height: 'toggle'},
        easing: 'swing',
        speed: 500 
        },
      timeout: 2000,
      maxVisible: 1,
      killer: true
    });
  });
  <% end %>
</script>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
         <% notifs = Friend.notifications current_user.id %>
          <li class="dropdown" id="notificationdropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="notificationstitle">Notifications <% if notifs.size > 0 %><span id="notification-count">(<%= notifs.size.to_s %>)</span><% end %><b class="caret"></b></a>
              <ul class="dropdown-menu" id="notification-list">
                 <% notifs.each do |pend| %>
                  <li class="user-notification-block">
                    <p>
                    <%= pend[1] %> wants to friend you.
                    <div class="btn-group request-buttons-left-padding">
                      <button type="button" class="btn btn-success" onclick="acceptFriend(<%= pend[0] %>);">Accept</button>
                      <button type="button" class="btn btn-danger" onclick="rejectFriend(<%= pend[0] %>);">Reject</button>
                    </div>
                    </p>
                  </li>
                <% end %>
              </ul>
          </li>

      <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% else %>
      <!-- <li><%= link_to "Sign in", new_user_session_path %></li> -->
      <% end %>
  </ul>

</div>
</div>
</div>
