<%# navigation styled for Bootstrap 3.0 %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "What's Going On?", root_url, class: 'navbar-brand' %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "Friends", friends_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <li><%= link_to "My Account", User.find(current_user.id) %></li>


       <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Status
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"> 

              <!--  <% for i in 0..markerPics.size %>
                   <%= raw "building" + i.to_s + ".setMap(map);" %>
                <% end %> -->

                <li role="presentation" class="dropdown-header"> Bother Me? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No</li>

                <li role="presentation" class="divider"></li>

                <% for i in 0...6 %>
                    <% raw "var test=" + i.to_s%>
                    <%= raw "<li role='presentation'><a role='menuitem' tabindex='-1'>" + statusNames[i] + "<span class='right'><INPUT TYPE='image' SRC='/images/marker" + i.to_s + ".png' onclick= 'submitForm(test)'>&nbsp;&nbsp;&nbsp;<INPUT TYPE='image' SRC='/images/marker" + i.to_s + "-op.png'></a></li>" %>
                    print test;
                   <% end %>
             



             
                <script>function submitForm(i){
                  $.ajax({  
                      type: 'POST',  
                      url: 'users/color_status', 
                      data: { color_status: i },
                      success: function(response) {
                      alerts(data)    
                      }

                  });
                }</script>


              </ul>
        </li>
        <% else %>
        <% end %>
    </ul>
<script>

  function acceptFriend(friendId) {
    $.ajax({  
        type: 'POST',  
        url: '/friends/accept', 
        data: { friend_id: friendId },
        success: function() {
        }
    });
    location.reload(true);
  }

  function rejectFriend(friendId) {
    $.ajax({  
        type: 'POST',  
        url: '/friends/reject', 
        data: { friend_id: friendId },
        success: function() {
          location.reload(true);
        }
    });
    location.reload(true);
  }
</script>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% notifs = Friend.notifications current_user.id %>

         <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <% if notifs.size > 0 %>(<%= notifs.size.to_s %>) <% end %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                 <% notifs.each do |pend| %>
                  <li class="user-notification-block">
                    <p>
                    <%= pend[1] %> wants to add you.
                    <div class="btn-group request-buttons-left-padding">
                      <button type="button" class="btn btn-success" onclick="acceptFriend(<%= pend[0] %>);">Accept</button>
                      <button type="button" class="btn btn-danger" onclick="rejectFriend(<%= pend[0] %>);">Reject</button>
                    </div>
                    </p>
                  </li>
                <% end %>
              </ul>
        </li>


      <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
  </ul>

</div>
</div>
</div>
