<% statusNames = ["In Class", "Working", "Studying", "Eating", "Partying", "Relaxing"] %>
<script>
  function forwardToHome() {
    window.location = "<%= root_url %>";
  }
</script>

<%# navigation styled for Bootstrap 3.0 %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "What's Going On?", root_url, class: 'navbar-brand', onclick: "forwardToHome();" %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "Friends", friends_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <!-- <li><%= link_to "My Account", User.find(current_user.id) %></li> -->


       <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Status
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"> 

                <%= raw '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + "No Status" +  '<span class="right">' + (image_tag image_path("marker12.png"), onclick: 'setStatus(12)', class:"statuspadding") + '</span></a></li>' %>

                <br>

                <li role="presentation" class="divider"></li>

                <li role="presentation" class="dropdown-header"><span class="right"><span id="botherme">Bother Me?</span><span id="bothermeyes">Yes</span><span id="bothermeno">No</span></span></li>

                <!-- <li role="presentation" class="divider"></li> -->

                <% for i in 0...statusNames.length %> 
                    <%= raw '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + statusNames[i] + '<span class="right">' + (image_tag asset_path('marker' + i.to_s + '.png'), onclick:"setStatus(" + i.to_s + ")", class:"statuspadding") + (image_tag asset_path('marker' + (i+statusNames.length).to_s + '.png'), onclick:"setStatus(" + (i+statusNames.length).to_s + ")") + '</span></a></li>' %>
                <% end %>
                
                <script>
                function setStatus(i){
                  $.ajax({  
                      type: 'POST',  
                      url: '/users/color_status', 
                      data: { color_status: i },
                      success: function(response) {
                         if (location.pathname == "/") {
                            window.location.reload();
                         }
                      }

                  });
                }
                </script>


              </ul>
        </li>
        <% else %>
        <% end %>
    </ul>
<script>

 


  function acceptFriend(friendId, obje) {
    $.ajax({  
        type: 'POST',  
        url: '/friends/accept', 
        data: { friend_id: friendId },
        success: function() {
        }
    });
    //location.reload(true);
    clearnotif(obje);
  }

  function rejectFriend(friendId, obje) {
    $.ajax({  
        type: 'POST',  
        url: '/friends/reject', 
        data: { friend_id: friendId },
        success: function() {
        }
    });
    clearnotif(obje);
    //location.reload(true);
  }

  <% if user_signed_in? %>
  channel.bind('my-event', function(data) {
    if (!$('#frequest'+data.fid).length) {
      $('#no-new-notifs').remove();
      $("#notification-list").append('<li id="frequest'+data.fid+'" class="user-notification-block"><p>' + data.name + ' wants to add you.<div class="btn-group request-buttons-left-padding"><button type="button" class="btn btn-success" onclick="acceptFriend(' + data.fid + ', $(this));">Accept</button><button type="button" class="btn btn-danger" onclick="rejectFriend(' + data.fid + ', $(this));">Reject</button></div></p></li>');
      if (!$('#notification-count').length) {
        <% notifs = Friend.notifications current_user.id %>
        $('#notificationstitle').html('Notifications (<span id="notification-count"><%= (notifs.size+1).to_s %></span>)<b class="caret"></b>');
      } else {
        $("#notification-count").html(parseInt($("#notification-count").text())+1);  
      }
      $("#notificationdropdown").addClass('animated shake');
      $("#notificationdropdown").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
        $("#notificationdropdown").removeClass('animated shake');
      });
      noty({
        layout: 'bottom',
        type: 'alert',
        text: data.name + ' sent you a friend request.',
        dismissQueue: true, 
        animation: {
          open: {height: 'toggle'},
          close: {height: 'toggle'},
          easing: 'swing',
          speed: 500 
        },
        timeout: 2000,
        maxVisible: 1,
        killer: true
      });
    }
  });

  function clearnotif(obje) {
    obje.parent().parent().remove();
    $("#notification-count").html(parseInt($("#notification-count").text())-1);
    if (parseInt($("#notification-count").text()) == 0) {
      $("#notification-count").remove();
      $('#notificationstitle').html('Notifications<b class="caret"></b>');
      $('#notification-list').append(' <li id="no-new-notifs" class="user-notification-block">No New Notifications</li>');
    }
  }

  function acceptWave(fid, obje) {
    $.ajax({  
        type: 'POST',  
        url: '/friends/acceptwave', 
        data: { friend_id: fid },
        success: function() {
        }
    });
    clearnotif(obje);
    //location.reload(true);
  }

  function rejectWave(fid, obje) {
    $.ajax({  
        type: 'POST',  
        url: '/friends/rejectwave', 
        data: { friend_id: fid },
        success: function() {
        }
    });
    clearnotif(obje);
    //location.reload(true);
  }


  channel.bind('accept-wave', function(data) {
    $('#acceptAlertModal').modal() 
    $(".modal-body #friendName").text(data.name + ' wants you to come over!');
    noty({
      layout: 'bottom',
      type: 'alert',
      text: data.name + ' wants you to come over!',
      dismissQueue: true, 
      animation: {
        open: {height: 'toggle'},
        close: {height: 'toggle'},
        easing: 'swing',
        speed: 500 
      },
      timeout: 2000,
      maxVisible: 1,
      killer: true
    });
  });

  channel.bind('reject-wave', function(data) {
    $('#rejectAlertModal').modal() 
    $(".modal-body #friendName").text(data.name + ' is busy right now.');
    noty({
      layout: 'bottom',
      type: 'alert',
      text: data.name + ' is busy right now.',
      dismissQueue: true, 
      animation: {
        open: {height: 'toggle'},
        close: {height: 'toggle'},
        easing: 'swing',
        speed: 500 
      },
      timeout: 2000,
      maxVisible: 1,
      killer: true
    });
  });

  channel.bind('send-wave', function(data) {
    if (!$('#wave'+data.fid).length) {
      $('#no-new-notifs').remove();
      $("#notification-list").append('<li id="wave'+data.fid+'" class="user-notification-block"><p>' + data.name + ' sent you a wave<div class="btn-group request-buttons-left-padding"><button type="button" class="btn btn-success" onclick="acceptWave(' + data.fid + ', $(this));">Come Over!</button><button type="button" class="btn btn-danger" onclick="rejectWave(' + data.fid + ', $(this));">Not Right Now!</button></div></p></li>');
      
      if (!$('#notification-count').length) {
        <% notifs = Friend.notifications current_user.id %>
        $('#notificationstitle').html('Notifications (<span id="notification-count"><%= (notifs.size+1).to_s %></span>)<b class="caret"></b>');
      } else {
        $("#notification-count").html(parseInt($("#notification-count").text())+1);  
      }
      $("#notificationdropdown").addClass('animated shake');
      $("#notificationdropdown").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
        $("#notificationdropdown").removeClass('animated shake');
      });
      noty({
        layout: 'bottom',
        type: 'alert',
        text: data.name + ' sent you a wave.',
        dismissQueue: true, 
        animation: {
          open: {height: 'toggle'},
          close: {height: 'toggle'},
          easing: 'swing',
          speed: 500 
        },
        timeout: 2000,
        maxVisible: 1,
        killer: true
      });
    }
  });
  <% end %>
</script>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
         <% notifs = (Friend.notifications current_user.id).uniq %>
          <li class="dropdown" id="notificationdropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="notificationstitle">Notifications <% if notifs.size > 0 %>(<span id="notification-count"><%= notifs.size.to_s %></span>)<% end %><b class="caret"></b></a>
              <ul class="dropdown-menu" id="notification-list">
                  <% if notifs.size == 0 %>
                    <li id="no-new-notifs" class="user-notification-block">No New Notifications</li>
                  <% end %>
                 <% notifs.each do |pend| %>
                  <li class="user-notification-block">
                    <p>
                    <%= pend[1] %> wants to friend you.
                    <div class="btn-group request-buttons-left-padding">
                      <button type="button" class="btn btn-success" onclick="acceptFriend(<%= pend[0] %>);">Accept</button>
                      <button type="button" class="btn btn-danger" onclick="rejectFriend(<%= pend[0] %>);">Reject</button>
                    </div>
                    </p>
                  </li>
                <% end %>
              </ul>
          </li>

      <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% else %>
      <!-- <li><%= link_to "Sign in", new_user_session_path %></li> -->
      <% end %>
  </ul>

</div>
</div>
</div>
